<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">
    <flux:form id="readSpeakerDocReader" options="{group:'common',Fluidcontent: {sorting:131},icon:'EXT:t3readspeaker/ext_icon.gif'}" localLanguageFileRelativePath="/Resources/Private/Language/locallang_readSpeakerDocReader.xlf">
		<flux:field.file name="settings.readFile" allowed="epub,xls,xlsx,pps,ppt,pptx,doc,docx,odp,ods,odt,pdf,rtf" showThumbnails="1" label="File for the ReadSpeaker docReader" />
		<flux:field.checkbox name="forceAbsolute"
		           label="Force absolute file url"
		           default="1"
		           required=""
		           requestUpdate="0" />
		<flux:field.input name="settings.btnText" label="Button Text (optional)" />
    </flux:form>
</f:section>

<f:section name="Preview">
	<f:image src="EXT:t3readspeaker/ext_icon.gif" /> ReadSpeaker docReader
<hr/>
</f:section>

<f:section name="Main">
	<f:if condition="{setings.forceAbsolute}">
		<f:then>
			<f:cObject typoscriptObjectPath="lib.t3readspeaker.docReader" data="{windowid:record.uid,urlencoded:settings.readFile}" />
		</f:then>
		<f:else>
			<f:alias map="{absoluteUrl:'{f:cObject(typoscriptObjectPath:\'lib.t3readspeaker.siteurl\')}{settings.readFile}'}">
				<f:cObject typoscriptObjectPath="lib.t3readspeaker.docReader" data="{windowid:record.uid,urlencoded:absoluteUrl}" />
			</f:alias>
		</f:else>
	</f:if>
</f:section>

</div>
